# MC symbol downloader

import modules

In [33]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

Money control index constiuents page link

In [64]:
url = 'https://www.moneycontrol.com/stocks/marketstats/indexcomp.php?optex=BSE&opttopic=indexcomp&index=67'

download html

In [65]:
r = requests.get(url)
  
soup = BeautifulSoup(r.content, 'html5lib') # If this line causes an error, run 'pip install html5lib' or install html5lib

In [66]:
table = soup.find('table',  attrs = {'class': 'tbldata14 bdrtpg'})

create dataaframe

In [67]:
columns = ['Name', 'Symbol', 'URL']
df = pd.DataFrame(columns = columns)

for row in table.tbody.findAll('tr'):
    tds = row.findAll('td')
    if len(tds) > 0:
        a = tds[0].findAll('a')[0]
        href = a['href']
        df = df.append(pd.Series([a.text, href.rsplit('/', 1)[1], href], index=columns), ignore_index=True)

df

,Name,Symbol,URL
0,3M India,MI42,/india/stockpricequote/diversified/3mindia/MI42
1,5paisa Capita,C98,/india/stockpricequote/miscellaneous/5paisacap...
2,63 Moons Tech,FT02,/india/stockpricequote/computerssoftware/63moo...
3,Aarti Drugs,AD,/india/stockpricequote/pharmaceuticals/aartidr...
4,Aarti Ind,AI45,/india/stockpricequote/chemicals/aartiindustri...
...,...,...,...
1025,Zee Media,ZN,/india/stockpricequote/mediaentertainment/zeem...
1026,Zen Tech,ZT01,/india/stockpricequote/defence/zentechnologies...
1027,Zensar Tech,ZT02,/india/stockpricequote/computerssoftware/zensa...
1028,Zuari Agro Chem,ZAC,/india/stockpricequote/fertilisers/zuariagroch...
1029,Zydus Wellness,ZW01,/india/stockpricequote/vanaspatioils/zyduswell...

save to csv

In [69]:
df.to_csv('mc_symbols.csv', index=False)